.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#changeColorBtn {
    background-color: rgb(228, 180, 217);
    border: none;
    padding: 20px;
    border-radius: 20px;
}